@import "pallete_color.scss";
@import "mixins_placeholder.scss";
.sidebar{
  position:fixed;
  width: 100%;
  transition: .5s;
  background-color:rgba(46, 49, 49,0.2);
  z-index: 1;
}
.sidebar:hover{
	transition: .5s;
   background-color:rgba(46, 49, 49,0.7);
}
.menu_nav{
  display: flex;
  overflow: hidden;
  flex-flow: row;
  justify-content: flex-end;
}
.item_nav{
  margin-top: 1%;
  flex-basis: 130px;
  padding: 5px;
}

.item_nav a{
  font-size: 1.6em;
  text-decoration:none;
  color:#fff;
}
.sidebar .brand{
  color:#333;
  position:absolute;
  left:31px;
  top:10px;
  font-weight: 800;
  display:block;
  cursor:pointer;
  transition: .4s;
  font-size:2rem;
}
@media only screen and (max-width: 600px) {
	.sidebar{
		position:fixed;
		width:200px;
		height:100%;
		left:-200px;
		z-index: 1;
		background-color:rgba(46, 49, 49,0.4);
	}
	.menu_nav{
		flex-flow: column;
	}
	.item_nav{
		flex-basis: 50px;
		border-bottom: 1px solid rgba(100,100,100,0.3);
	}
	.sidebar.active{
		left:0px;
	}
	.footer-fixed{
		position: fixed;
		bottom: 0;
		left: 0;
		height: 5%;
		width: 100%;
		@include radius(15px 15px 0 0);
		background-color:$color-primary-2;
		border-top: 1px solid $color-primary-3;
		}
	.icon-menu{
		font-size: 1.6rem;
		font-weight: 100;
		margin:1rem;
		position:absolute;
		right:31px;
		cursor:pointer;
		transition: .4s;
	}
	.sidebar .brand{
		display: none;
	}
}
