// As hex codes */
$color-active:#aea8d3;

$color-primary-0: #F2F1EF;	// Main Primary color */
$color-primary-1: #FFFFFF;
$color-primary-2: #FFFFFE;
$color-primary-3: #C7C5C1;
$color-primary-4: #A29D94;

$color-secondary-1-0: #A5A5A7;	// Main Secondary color (1) */
$color-secondary-1-1: #FFFFFF;
$color-secondary-1-2: #D5D5D5;
$color-secondary-1-3: #868589;
$color-secondary-1-4: #69676F;

$color-secondary-2-0: #8F9191;	// Main Secondary color (2) */
$color-secondary-2-1: #FFFFFF;
$color-secondary-2-2: #C9CACA;
$color-secondary-2-3: #747878;
$color-secondary-2-4: #596161;